@import url(http://fonts.googleapis.com/css?family=Stalinist+One);

body {
    font-family: sans-serif;
    background-color: #3c3f42;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.content {
    margin-bottom: 1em;
}

.content-box {
    overflow: hidden;
    background-color: white;
    border-radius: .4em;
    padding: 1em;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,.5);
}

.stripes {
    height: 2em;
    width: 100%;
    background-size: 1em 1em;
    background-color: #3c3f42;
    background-image: linear-gradient(
        -45deg,
        #fff 25%,
        transparent 25%,
        transparent 50%,
        #fff 50%,
        #fff 75%,
        transparent 75%,
        transparent
    );
    margin-bottom: 1em;
}

@media all and (max-width : 640px) {
    .stripes {
        height: 1em;
    }
}


.wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 800px;
    margin: 2em auto 0;
}

.main {
    width: 60%;
    margin-right: 5%;
    float: left;
}

@media all and (max-width : 640px) {
    .wrapper {
        width: 90%;
        margin: 2em auto;
    }
    .main {
        width: 100%;
        float: none;
    }
}

.social-icons {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li {
    width: 10%;
    background-color: white;
    padding: .5em;
    margin-right: 2.8%;
    border-radius: .3em;
    float: left;
}
.social-icons li:last-child {
    margin-right: 0;
}
.social-icons a {
    overflow: hidden;
    display: block;
    background-color: #3c3f42;
    border-radius: .3em;
}
.social-icons img {
    width: 100%;
    display: block;
}

@media all and (max-width : 640px) {
    .social-icons li {
        padding: .25em;
        border-radius: .4em;
    }
}

.events-header {
    overflow: hidden;
    margin-bottom: 1em;
}
.events-body {
    overflow-y: scroll;
    width: 100%;
    max-height: 5em;
    font-size: .8em;
}
.events-event {
    overflow: hidden;
    padding-bottom: .5em;
}
.events span {
    display: block;
    float: left;
}
.events-header {
    font-size: .8em;
    font-family: 'Stalinist One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.events-header td {
    padding-bottom: 1.5em;
}
.events-date {
    width: 20%;
}
.events-venue {
    width: 45%;
}
.events-location {
    width: 33%;
}
.events-more {
    font-size: .8em;
    text-align: right;
    padding-top: 1em;
    border-top: solid 1px #ddd;
    margin-top: 1.5em;
}
.events-more-songkick {
    display: inline-block;
    color: #3c3f42;
    text-decoration: none;
}
.events-more-songkick img {
    position: relative;
    top: 2px;
    width: 75px;
    vertical-align: bottom;
    margin-right: .25em;
}

@media all and (max-width : 640px) {
    .events span {
        font-size: .8em;
        font-family: sans-serif;
    }
}

.background {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 550px;
}
.background img {
    position: absolute;
    bottom: 0;
}

.booking-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}
.booking-info > span {
    display: inline-block;
    width: 11em;
    padding: .4em .8em;
}
.booking-title {
    position: relative;
    z-index: 1;
    font-family: 'Stalinist One', sans-serif;
    text-transform: uppercase;
    background-color: #999999;
    margin-right: -4px;
}
.booking-title:before {
    display: block;
    position: absolute;
    top: 0;
    left: -5em;
    z-index: -1;
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5em solid transparent;
    border-right: 5em solid transparent;
    border-bottom: 5em solid #999999;
}
.booking-title span {
    font-size: .7em;
}
.booking-email {
    position: relative;
    z-index: 1;
    background-color: white;
}
.booking-email:before {
    display: block;
    position: absolute;
    top: 0;
    left: -2em;
    z-index: -1;
    content: '';
    width: 0; 
    height: 0; 
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid white;
}
.booking-email a {
    color: #3c3f42;
    font-size: .9em;
    text-decoration: none;
}

@media all and (max-width : 640px) {
    .background {
        position: static;
        width: 100%;
    }
    .background img {
        display: none;
    }
    .booking-info {
        position: static;
        text-align: center;
    }
    .booking-info > span {
        display: block;
        width: 100%;
    }
    .booking-info > span:before {
        display: none;
    }
    .booking-info br {
        display: none;
    }
}