/***************/
/* Wolf Detrix */
/***************/

/* Font Imports */
@import url(http://fonts.googleapis.com/css?family=Stalinist+One);

body {
    color: #333;
    font-size: 16px;
}

/* General Copy */

h1, h2 {
    margin-top: 0;
}

h1 {
    font-size: 3.5em;
    font-family: 'Stalinist One';
    text-transform: uppercase;
    line-height: .9em;
    margin-bottom: 0;
}

@media all and (max-width: 640px) {
    h1 {
        font-size: 2.6em;
    }
}

@media all and (max-width: 320px) {
    h1 {
        font-size: 2.2em;
    }
}

h2 {
    color: #999;
    font-size: 1.6em;
    font-weight: 100;
    margin-bottom: .5em;
}

@media all and (max-width: 640px) {
    h2 {
        font-size: 1.4em;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

a {
    color: #c13f01;
    text-decoration: none;
}

a:hover {
    color: #f45001;
}

a:active {
    color: #8e2e01;
}


/* General Layout */

.content-wrapper {
    width: 100%;
    padding: 2.5% 0;
}

@media all and (max-width: 640px) {
    .content-wrapper {
        padding: 5% 0;
    }
}

.content-wrapper > div {
    padding: 0 5%;
}


/* Header */

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/* Footer */

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#footer ul {
    font-size: 1.2em;
    margin-bottom: 0;
}

@media all and (max-width: 321px) {
    #footer ul {
        font-size: 1em;
    }
}

img.background-full {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    zoom: 1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    min-width: 1200px;
    width: 100%;
    min-height: 100%;
    height: auto;
}

@media all and (max-width: 960px) {
    img.background-full {
        opacity: .6;
    }
}

@media all and (max-width: 640px) {
    img.background-full {
        opacity: .2;
    }
}

@media all and (max-width: 320px) {
    img.background-full {
        opacity: .1;
    }
}